body{
  font-family: 'Kosugi', sans-serif;
  color:black;
}
#header{
  text-align: center;
  width:100vw;
  height:90px;
  background-color: #666;
}

nav{
  background-color: lightskyblue;
}

nav ul{
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 6px;
  list-style-type: none;
  justify-content: space-around;
}

nav a{
  display: block;
  border-radius: 4px;
  padding: 12px 24px;
  text-decoration: none;
  color: black;
}

#wrapper{
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
}

.context{
  margin:10px;
  min-height: 300px;
  background-color: lightskyblue;
}

#footer{
  width:100vw;
  height:100px;
  background-color: #666;
}